body{
     
    align-items: center;
}

.container {
    
    border: 3px;
    display: grid;
    grid-template-columns:repeat(8, 1fr) 1fr;
    grid-template-rows: repeat(10,100px);
    grid-template-areas:"a a a a a a b b"
                        "c c d d d e f f"
                        "c c d d d e f f"
                        "c c d d d e f f"
                        "c c d d d e g g"
                        "c c d d d e g g"
                        "h h h h i i i i"
                        "h h h h i i i i"
                        "j k k k k k k l";
    
    justify-items: stretch;
}
.container *{

    border:1px dotted red;
    background-color:pink ;

}

.grid-1{grid-area : a}
.grid-2{grid-area : b}
.grid-3{grid-area : c}
.grid-4{grid-area : d}
.grid-5{grid-area : e}
.grid-6{grid-area : f}
.grid-7{grid-area : g}
.grid-8{grid-area : h}
.grid-9{grid-area : i}
.grid-10{grid-area : j}
.grid-11{grid-area : k}
.grid-12{grid-area : l}
.grid-13{grid-area : m}